In [ ]:
##### File Created by RAHUL CHAWLA #####

In [1]:
import pandas as pd    #importing necessary libraries
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('DataFrame.csv')      #Reading csv file and creating DataFrame
print(data.shape)
data.head()

(22805, 8)

    Type      Date   Time      open      high       low     close  Unnamed: 7
0  NIFTY  20210101  09:16  13997.90  14020.85  13991.35  14013.15         NaN
1  NIFTY  20210101  09:17  14014.85  14018.55  14008.15  14009.05         NaN
2  NIFTY  20210101  09:18  14008.05  14013.10  14005.05  14012.70         NaN
3  NIFTY  20210101  09:19  14013.65  14019.10  14013.65  14016.20         NaN
4  NIFTY  20210101  09:20  14015.45  14017.80  14011.95  14015.45         NaN

In [3]:
data.drop('Unnamed: 7' , axis = 1 , inplace = True)   #Dropping unnecessary Column:-> Unnamed: 7

In [4]:
data.rename(columns = str.upper , inplace = True)

In [5]:
data

        TYPE      DATE   TIME      OPEN      HIGH       LOW     CLOSE
0      NIFTY  20210101  09:16  13997.90  14020.85  13991.35  14013.15
1      NIFTY  20210101  09:17  14014.85  14018.55  14008.15  14009.05
2      NIFTY  20210101  09:18  14008.05  14013.10  14005.05  14012.70
3      NIFTY  20210101  09:19  14013.65  14019.10  14013.65  14016.20
4      NIFTY  20210101  09:20  14015.45  14017.80  14011.95  14015.45
...      ...       ...    ...       ...       ...       ...       ...
22800  NIFTY  20210331  15:27  14687.35  14694.35  14686.30  14690.60
22801  NIFTY  20210331  15:28  14690.90  14690.90  14686.05  14689.30
22802  NIFTY  20210331  15:29  14690.30  14694.10  14688.55  14691.30
22803  NIFTY  20210331  15:30  14689.85  14693.55  14689.45  14693.05
22804  NIFTY  20210331  15:31  14690.70  14690.70  14690.70  14690.70

[22805 rows x 7 columns]

# CONVERTING STRING INTO DATE TIME SERIES

In [6]:
import datetime
data['DATE'] = pd.to_datetime(data['DATE'] , format = "%Y%m%d")

In [7]:
data.head()

    TYPE       DATE   TIME      OPEN      HIGH       LOW     CLOSE
0  NIFTY 2021-01-01  09:16  13997.90  14020.85  13991.35  14013.15
1  NIFTY 2021-01-01  09:17  14014.85  14018.55  14008.15  14009.05
2  NIFTY 2021-01-01  09:18  14008.05  14013.10  14005.05  14012.70
3  NIFTY 2021-01-01  09:19  14013.65  14019.10  14013.65  14016.20
4  NIFTY 2021-01-01  09:20  14015.45  14017.80  14011.95  14015.45

In [ ]:
import missingno as msno       #Checking for the missing entries
msno.bar(data)

In [ ]:
data.describe()   #Statistics of the Dataset

In [ ]:
data.info()

In [ ]:
data[data.duplicated()]       #Checking for the duplicated entries

# CONSIDERING ANOTHER DATASET

In [ ]:
df2 = pd.read_csv('MSFT.csv')
df2.head()

In [ ]:
df2.rename(columns = str.upper , inplace = True)

In [ ]:
df2['DATE'] = pd.to_datetime(df2['DATE'] , format = "%Y-%m-%d")

In [ ]:
df2.head()

In [ ]:
df2[df2.duplicated()]

In [ ]:
df2.describe()

In [ ]:
df2.isna().sum()

In [ ]:
df2.info()

# EDA ANALYSIS (DataFrame.csv)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
d1 = data.copy()
d1

In [ ]:
d1.columns
d1 = d1.set_index(['TYPE','DATE','TIME'])

In [ ]:
feature = ['OPEN', 'HIGH', 'LOW', 'CLOSE']

In [ ]:
list(enumerate(feature))

In [ ]:
plt.figure(figsize=(15,12))
for i in enumerate(feature):
    plt.subplot(2,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.distplot(d1[i[1]] , kde = False , color = base_color)
    plt.xlabel(i[1]);

In [ ]:
color = sns.PairGrid(d1)
color.map_upper(sns.scatterplot,color = 'green')
color.map_lower(sns.scatterplot,color = 'orange')
color.map_diag(plt.hist)

In [ ]:
plt.figure(figsize=(15,10))         #creating Box plots of various attributes
for i in enumerate(feature):
    plt.subplot(2,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.boxplot(x = d1[i[1]] , color = base_color)
    plt.xlabel(i[1]);

In [ ]:
sns.heatmap(d1.corr() , vmin = -1 , vmax = 1 , annot = True , cmap = 'Blues')     #heat map to determine correlation

# EDA ANALYSIS (MSFT.csv)

In [ ]:
d2 = df2.copy()
d2

In [ ]:
d2 = d2.set_index('DATE')

In [ ]:
feat = d2.columns

In [ ]:
list(enumerate(feat))

In [ ]:
plt.figure(figsize=(15,15))         #creating distribution plots of various attributes
for i in enumerate(feat):
    plt.subplot(3,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.distplot(d2[i[1]] , color = base_color , hist = False)
    plt.xlabel(i[1]);
    plt.title(f'Distribution plot of {i[1]}')

In [ ]:
sns.pairplot(data = d2)      #Plots b/w various attributes

In [ ]:
plt.figure(figsize=(15,10))         #creating Box plots of various attributes
for i in enumerate(feat):
    plt.subplot(3,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.boxplot(x = d2[i[1]] , color = base_color)
    plt.xlabel(i[1]);

In [ ]:
plt.figure(figsize=(15,10))         #creating Violin plots of various attributes
for i in enumerate(feat):
    plt.subplot(3,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.violinplot(x = d2[i[1]] , color = base_color)
    plt.xlabel(i[1]);

In [ ]:
sns.heatmap(d2.corr() , vmin = -1 , vmax = 1 , annot = True , cmap = 'Paired_r')     #heat map to determine correlation

# AS SEEN THE PRESENCE OF OUTLIERS IN MSFT, SO SUPRESSING THEIR EFFECT

In [ ]:
iqr1 = d2['OPEN'].quantile(0.75) - d2['OPEN'].quantile(0.25) 
iqr1

In [ ]:
upper_whisker = d2['OPEN'].quantile(0.75)+(iqr1*1.5)
lower_whisker = d2['OPEN'].quantile(0.25)-(iqr1*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
iqr2 = d2['CLOSE'].quantile(0.75) - d2['CLOSE'].quantile(0.25) 
iqr2

In [ ]:
upper_whisker = d2['CLOSE'].quantile(0.75)+(iqr2*1.5)
lower_whisker = d2['CLOSE'].quantile(0.25)-(iqr2*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
iqr3 = d2['HIGH'].quantile(0.75) - d2['HIGH'].quantile(0.25) 
iqr3

In [ ]:
upper_whisker = d2['HIGH'].quantile(0.75)+(iqr3*1.5)
lower_whisker = d2['HIGH'].quantile(0.25)-(iqr3*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
iqr4 = d2['LOW'].quantile(0.75) - d2['LOW'].quantile(0.25) 
iqr4

In [ ]:
upper_whisker = d2['LOW'].quantile(0.75)+(iqr4*1.5)
lower_whisker = d2['LOW'].quantile(0.25)-(iqr4*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
iqr5 = d2['ADJ CLOSE'].quantile(0.75) - d2['ADJ CLOSE'].quantile(0.25) 
iqr5

In [ ]:
upper_whisker = d2['ADJ CLOSE'].quantile(0.75)+(iqr5*1.5)
lower_whisker = d2['ADJ CLOSE'].quantile(0.25)-(iqr5*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
iqr6 = d2['VOLUME'].quantile(0.75) - d2['VOLUME'].quantile(0.25) 
iqr6

In [ ]:
upper_whisker = d2['VOLUME'].quantile(0.75)+(iqr6*1.5)
lower_whisker = d2['VOLUME'].quantile(0.25)-(iqr6*1.5)
print(upper_whisker)
print(lower_whisker)

In [ ]:
d2.loc[d2['OPEN'] >= 86.05937385559082 , 'OPEN'] = 86.05937385559082
d2.loc[d2['CLOSE'] >= 85.87265515327454 , 'CLOSE'] = 85.87265515327454
d2.loc[d2['HIGH'] >= 86.6875 , 'HIGH'] = 86.6875
d2.loc[d2['LOW'] >= 84.5562515258789 , 'LOW'] = 84.5562515258789
d2.loc[d2['ADJ CLOSE'] >= 64.37626564502716 , 'ADJ CLOSE'] = 64.37626564502716
d2.loc[d2['VOLUME'] >= 130092200.0 , 'VOLUME'] = 130092200.0

In [ ]:
d_remo_outlier = d2
d_remo_outlier

In [ ]:
l = ['OPEN' , 'HIGH' , 'LOW' , 'CLOSE' , 'ADJ CLOSE' , 'VOLUME']
list(enumerate(l))

In [ ]:
plt.figure(figsize=(15,12))#creating Box plots of various columns after removing outliers
for i in enumerate(l):
    plt.subplot(3,2,i[0]+1)
    base_color = sns.color_palette()[i[0]]
    sns.boxplot(x = d2[i[1]] , color = base_color)
    plt.xlabel(i[1]);

# MODELLING PART FOR DATAFRAME.CSV DATASET

# SEPERATING THE DATE COLUMN AND TIME COLUMN

In [8]:
d_1 = data.copy()

In [9]:
d_1.drop(['TYPE'],axis=1,inplace=True)

In [10]:
d_1['DAY']=pd.to_datetime(d_1['DATE'], format="%Y/%m/%d").dt.day

In [11]:
d_1['month']=pd.to_datetime(d_1['DATE'], format='%Y/%m/%d').dt.month

In [12]:
d_1['YEAR']=pd.to_datetime(d_1['DATE'], format='%Y/%m/%d').dt.year

In [13]:
d_1.drop(['DATE'],axis=1,inplace=True)

In [14]:
d_1['Time_hour']=pd.to_datetime(d_1['TIME']).dt.hour

In [15]:
d_1['time_minute']=pd.to_datetime(d_1['TIME']).dt.minute

In [16]:
d_1.drop(['TIME'],axis=1,inplace=True)

In [17]:
d_1.head()

,OPEN,HIGH,LOW,CLOSE,DAY,month,YEAR,Time_hour,time_minute
0,13997.90,14020.85,13991.35,14013.15,1,1,2021,9,16
1,14014.85,14018.55,14008.15,14009.05,1,1,2021,9,17
2,14008.05,14013.10,14005.05,14012.70,1,1,2021,9,18
3,14013.65,14019.10,14013.65,14016.20,1,1,2021,9,19
4,14015.45,14017.80,14011.95,14015.45,1,1,2021,9,20

In [18]:
X = d_1.loc[:,d_1.columns!='CLOSE']
X

           OPEN      HIGH       LOW  DAY  month  YEAR  Time_hour  time_minute
0      13997.90  14020.85  13991.35    1      1  2021          9           16
1      14014.85  14018.55  14008.15    1      1  2021          9           17
2      14008.05  14013.10  14005.05    1      1  2021          9           18
3      14013.65  14019.10  14013.65    1      1  2021          9           19
4      14015.45  14017.80  14011.95    1      1  2021          9           20
...         ...       ...       ...  ...    ...   ...        ...          ...
22800  14687.35  14694.35  14686.30   31      3  2021         15           27
22801  14690.90  14690.90  14686.05   31      3  2021         15           28
22802  14690.30  14694.10  14688.55   31      3  2021         15           29
22803  14689.85  14693.55  14689.45   31      3  2021         15           30
22804  14690.70  14690.70  14690.70   31      3  2021         15           31

[22805 rows x 8 columns]

In [19]:
y=d_1['CLOSE']
y

0        14013.15
1        14009.05
2        14012.70
3        14016.20
4        14015.45
           ...
22800    14690.60
22801    14689.30
22802    14691.30
22803    14693.05
22804    14690.70
Name: CLOSE, Length: 22805, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [22]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(18244, 8) (4561, 8) (18244,) (4561,)

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()
sc.fit_transform(X_train)

array([[ 1.05314965,  1.04448231,  1.04056985, ...,  0.        ,
         0.57862783,  1.57763269],
       [ 1.11093268,  1.12650169,  1.11958297, ...,  0.        ,
        -1.03034734, -1.47114428],
       [-2.22510865, -2.15991211, -2.28835392, ...,  0.        ,
        -1.5666724 , -0.76758037],
       ...,
       [ 1.20151495,  1.22261814,  1.21178628, ...,  0.        ,
        -1.5666724 ,  0.52228681],
       [ 1.07569912,  1.06575609,  1.06528546, ...,  0.        ,
         0.04230277,  1.57763269],
       [-0.57515319, -0.57860421, -0.56504839, ...,  0.        ,
        -1.03034734,  0.87406877]])

In [26]:
import pickle
file = open('dataframe_linear_model_pickle_sc.pkl' , 'wb')
pickle.dump(sc , file)

In [ ]:
sc1 = StandardScaler()

In [ ]:
sc1.fit_transform(X_test)

In [ ]:
import pickle
file1 = open('dataframe_linear_model_pickle_sc1.pkl' , 'wb')
pickle.dump(sc1 , file1)

In [ ]:
X_train

# SVM BASED APPROACH (LINEAR MODEL)

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='linear', C = 10)

In [ ]:
svr.fit(X_train,y_train)

In [ ]:
y_train_pred = svr.predict(X_train)

In [ ]:
y_test_pred = svr.predict(X_test)

In [ ]:
result = pd.DataFrame({'Actual' : y_test , 'Predicted' : y_test_pred}).reset_index()[['Actual' , 'Predicted']]
result

In [ ]:
plt.figure(figsize=(20,15))
plt.plot(result['Actual'],label = 'Actual' , color = 'black')
plt.plot(result['Predicted'],label = 'Predicted' , color = 'pink')
plt.title('Plot of Actual v/s Predicted results')
plt.legend()
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
mse = mean_squared_error(y_test,y_test_pred)
print("Mean_squared_error is: ", mse)

In [ ]:
r2score = r2_score(y_test , y_test_pred)
print("R2 score is: " , r2score)

# PICKLE FILE FOR DATAFRAME DATASET

In [ ]:
import pickle
file = open('dataframe_linear_model_pickle.pkl' , 'wb')
pickle.dump(svr , file)

In [ ]:
model = open('dataframe_linear_model_pickle.pkl' , 'rb')
loaded_model = pickle.load(model)

# MODELLING PART FOR MSFT.CSV DATASET WITH REMOVED OUTLIERS

In [ ]:
d_3 = d_remo_outlier.reset_index()

In [ ]:
d_3.dtypes

In [ ]:
d_3['YEAR'] = pd.to_datetime(d_3['DATE'] , format = '%Y-%m-%d').dt.year
d_3['MONTH'] = pd.to_datetime(d_3['DATE'] , format = '%Y-%m-%d').dt.month
d_3['DAY'] = pd.to_datetime(d_3['DATE'] , format = '%Y-%m-%d').dt.day

In [ ]:
d_3.drop('DATE' , axis =1 , inplace = True)

In [ ]:
d_3.dtypes

In [ ]:
x = d_3.loc[: , d_3.columns!= 'CLOSE']
x

In [ ]:
y = d_3['CLOSE']
y

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc2 = StandardScaler()

In [ ]:
x_train = sc2.fit_transform(x_train)

In [ ]:
import pickle
file1 = open('MSFT_linear_model_pickle_sc2.pkl' , 'wb')
pickle.dump(sc2 , file1)

In [ ]:
sc3 = StandardScaler()
x_test = sc3.transform(x_test)

In [ ]:
import pickle
file1 = open('MSFT_linear_model_pickle_sc3.pkl' , 'wb')
pickle.dump(sc3, file1)

In [ ]:
x_train

# SVM BASED APPROACH ON MSFT DATASET ON REMOVAL OF OUTLIERS (LINEAR MODEL)

In [ ]:
from sklearn.svm import SVR
model = SVR(kernel = 'linear' , C = 10)

In [ ]:
model.fit(x_train , y_train)

In [ ]:
y_train_pred = model.predict(x_train)

In [ ]:
y_test_pred = model.predict(x_test)

In [ ]:
result_2 = pd.DataFrame({'Actual' : y_test , 'Predicted' : y_test_pred}).reset_index()[['Actual' , 'Predicted']]
result_2

In [ ]:
plt.figure(figsize=(20,15))
plt.plot(result_2['Actual'],label = 'Actual' , color = 'black')
plt.plot(result_2['Predicted'],label = 'Predicted' , color = 'gold')
plt.title('Plot of Actual v/s Predicted results')
plt.legend()
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
mse = mean_squared_error(y_test,y_test_pred)
print("Mean_squared_error is: ", mse)

In [ ]:
r2score = r2_score(y_test , y_test_pred)
print("R2 score is: " , r2score)

# PICKLE FILE FOR MSFT(REMOVED_OUTLIERS) DATASET

In [ ]:
import pickle
file1 = open('MSFT_linear_model_pickle.pkl' , 'wb')
pickle.dump(model , file1)

In [ ]:
model1 = open('MSFT_linear_model_pickle.pkl' , 'rb')
loaded_model = pickle.load(model1)