In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('MSFT.csv')

In [3]:
df.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.061751  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.063956   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065059   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.063405    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.062302    47894400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8857 entries, 0 to 8856
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8857 non-null   object
 1   Open       8857 non-null   float64
 2   High       8857 non-null   float64
 3   Low        8857 non-null   float64
 4   Close      8857 non-null   float64
 5   Adj Close  8857 non-null   float64
 6   Volume     8857 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 484.5+ KB

In [5]:
df.isnull().values.any()

False

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [11]:
df["year"] = df['Date'].str.split('-').str[0].astype(int)
df["month"] = df['Date'].str.split('-').str[1].astype(int)
df["day"] = df['Date'].str.split('-').str[2].astype(int)
df.drop(["Date"], axis = 1, inplace = True)

In [12]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,0.088542,0.101563,0.088542,0.097222,0.061751,1031788800,1986,3,13
1,0.097222,0.102431,0.097222,0.100694,0.063956,308160000,1986,3,14
2,0.100694,0.103299,0.100694,0.102431,0.065059,133171200,1986,3,17
3,0.102431,0.103299,0.098958,0.099826,0.063405,67766400,1986,3,18
4,0.099826,0.100694,0.097222,0.098090,0.062302,47894400,1986,3,19

In [13]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,year,month,day
count,8857.000000,8857.000000,8857.000000,8857.000000,8857.000000,8.857000e+03,8857.000000,8857.000000,8857.000000
mean,34.831233,35.209355,34.449657,34.840895,29.886536,5.953411e+07,2003.245907,6.527831,15.743480
std,44.060163,44.513443,43.597704,44.080986,44.195101,3.858121e+07,10.153988,3.427685,8.748036
min,0.088542,0.092014,0.088542,0.090278,0.057340,2.304000e+06,1986.000000,1.000000,1.000000
25%,3.843750,3.875000,3.812500,3.851563,2.446323,3.559720e+07,1994.000000,4.000000,8.000000
50%,26.590000,26.879999,26.290001,26.590000,18.686628,5.269680e+07,2003.000000,7.000000,16.000000
75%,36.730000,37.000000,36.110001,36.660000,27.218300,7.339520e+07,2012.000000,10.000000,23.000000
max,261.660004,263.190002,260.170013,261.970001,261.970001,1.031789e+09,2021.000000,12.000000,31.000000